@import"https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Jua&family=Modak&family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Single+Day&display=swap";

*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before,
:after {
    --tw-content: ""
}

html,
:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,
[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden]:where(:not([hidden=until-found])) {
    display: none
}

:root,
[data-theme] {
    background-color: var(--fallback-b1, oklch(var(--b1)/1));
    color: var(--fallback-bc, oklch(var(--bc)/1))
}

@supports not (color: oklch(0% 0 0)) {
    :root {
        color-scheme: light;
        --fallback-p: #491eff;
        --fallback-pc: #d4dbff;
        --fallback-s: #ff41c7;
        --fallback-sc: #fff9fc;
        --fallback-a: #00cfbd;
        --fallback-ac: #00100d;
        --fallback-n: #2b3440;
        --fallback-nc: #d7dde4;
        --fallback-b1: #ffffff;
        --fallback-b2: #e5e6e6;
        --fallback-b3: #e5e6e6;
        --fallback-bc: #1f2937;
        --fallback-in: #00b3f0;
        --fallback-inc: #000000;
        --fallback-su: #00ca92;
        --fallback-suc: #000000;
        --fallback-wa: #ffc22d;
        --fallback-wac: #000000;
        --fallback-er: #ff6f70;
        --fallback-erc: #000000
    }

    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
            --fallback-p: #7582ff;
            --fallback-pc: #050617;
            --fallback-s: #ff71cf;
            --fallback-sc: #190211;
            --fallback-a: #00c7b5;
            --fallback-ac: #000e0c;
            --fallback-n: #2a323c;
            --fallback-nc: #a6adbb;
            --fallback-b1: #1d232a;
            --fallback-b2: #191e24;
            --fallback-b3: #15191e;
            --fallback-bc: #a6adbb;
            --fallback-in: #00b3f0;
            --fallback-inc: #000000;
            --fallback-su: #00ca92;
            --fallback-suc: #000000;
            --fallback-wa: #ffc22d;
            --fallback-wac: #000000;
            --fallback-er: #ff6f70;
            --fallback-erc: #000000
        }
    }
}

html {
    -webkit-tap-highlight-color: transparent
}

* {
    scrollbar-color: color-mix(in oklch, currentColor 35%, transparent) transparent
}

*:hover {
    scrollbar-color: color-mix(in oklch, currentColor 60%, transparent) transparent
}

:root {
    --p: 77.8264% .157954 73.828363;
    --b2: 93% 0 0;
    --b3: 86% 0 0;
    --in: 72.06% .191 231.6;
    --su: 64.8% .15 160;
    --wa: 84.71% .199 83.87;
    --er: 71.76% .221 22.18;
    --bc: 20% 0 0;
    --pc: 15.5653% .031591 73.828363;
    --sc: 88.4236% .03892 264.158286;
    --ac: 85.6188% 0 0;
    --nc: 85.3724% 0 0;
    --inc: 0% 0 0;
    --suc: 0% 0 0;
    --wac: 0% 0 0;
    --erc: 0% 0 0;
    --rounded-box: 1rem;
    --rounded-btn: .5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: .25s;
    --animation-input: .2s;
    --btn-focus-scale: .95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: .5rem;
    --s: 42.118% .194599 264.158286;
    --a: 28.094% 0 0;
    --n: 26.8618% 0 0;
    --b1: 100% 0 0
}

.h1 {
    text-align: center;
    font-size: 18vw
}

@media (min-width: 64rem) {
    .h1 {
        font-size: 5vw
    }
}

.p {
    text-align: justify
}

@media (min-width: 64rem) {
    .p {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}

.ink-border {
    border-radius: 1rem;
    border-width: 2px;
    border-bottom-width: 4px;
    border-right-width: 4px;
    --tw-border-opacity: 1;
    border-color: var(--fallback-p, oklch(var(--p)/var(--tw-border-opacity, 1)))
}

.container {
    width: 100%
}

@media (min-width: 20rem) {
    .container {
        max-width: 20rem
    }
}

@media (min-width: 40rem) {
    .container {
        max-width: 40rem
    }
}

@media (min-width: 48rem) {
    .container {
        max-width: 48rem
    }
}

@media (min-width: 64rem) {
    .container {
        max-width: 64rem
    }
}

@media (min-width: 80rem) {
    .container {
        max-width: 80rem
    }
}

@media (min-width: 96rem) {
    .container {
        max-width: 96rem
    }
}

.alert {
    display: grid;
    width: 100%;
    grid-auto-flow: row;
    align-content: flex-start;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    text-align: center;
    border-radius: var(--rounded-box, 1rem);
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: var(--fallback-b2, oklch(var(--b2)/var(--tw-border-opacity)));
    padding: 1rem;
    --tw-text-opacity: 1;
    color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
    --alert-bg: var(--fallback-b2, oklch(var(--b2)/1));
    --alert-bg-mix: var(--fallback-b1, oklch(var(--b1)/1));
    background-color: var(--alert-bg)
}

@media (min-width: 640px) {
    .alert {
        grid-auto-flow: column;
        grid-template-columns: auto minmax(auto, 1fr);
        justify-items: start;
        text-align: start
    }
}

.avatar.placeholder>div {
    display: flex;
    align-items: center;
    justify-content: center
}

@media (hover:hover) {

    .menu li>*:not(ul, .menu-title, details, .btn):active,
    .menu li>*:not(ul, .menu-title, details, .btn).active,
    .menu li>details>summary:active {
        --tw-bg-opacity: 1;
        background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
        --tw-text-opacity: 1;
        color: var(--fallback-nc, oklch(var(--nc)/var(--tw-text-opacity)))
    }

    .table tr.hover:hover,
    .table tr.hover:nth-child(2n):hover {
        --tw-bg-opacity: 1;
        background-color: var(--fallback-b2, oklch(var(--b2)/var(--tw-bg-opacity)))
    }

    .table-zebra tr.hover:hover,
    .table-zebra tr.hover:nth-child(2n):hover {
        --tw-bg-opacity: 1;
        background-color: var(--fallback-b3, oklch(var(--b3)/var(--tw-bg-opacity)))
    }
}

.btn {
    display: inline-flex;
    height: 3rem;
    min-height: 3rem;
    flex-shrink: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-btn, .5rem);
    border-color: transparent;
    border-color: oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: .875rem;
    line-height: 1em;
    gap: .5rem;
    font-weight: 600;
    text-decoration-line: none;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
    border-width: var(--border-btn, 1px);
    transition-property: color, background-color, border-color, opacity, box-shadow, transform;
    --tw-text-opacity: 1;
    color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    outline-color: var(--fallback-bc, oklch(var(--bc)/1));
    background-color: oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    --tw-border-opacity: 1
}

.btn-disabled,
.btn[disabled],
.btn:disabled {
    pointer-events: none
}

:where(.btn:is(input[type=checkbox])),
:where(.btn:is(input[type=radio])) {
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.btn:is(input[type=checkbox]):after,
.btn:is(input[type=radio]):after {
    --tw-content: attr(aria-label);
    content: var(--tw-content)
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--rounded-box, 1rem)
}

.card:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.card figure {
    display: flex;
    align-items: center;
    justify-content: center
}

.card.image-full {
    display: grid
}

.card.image-full:before {
    position: relative;
    content: "";
    z-index: 10;
    border-radius: var(--rounded-box, 1rem);
    --tw-bg-opacity: 1;
    background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
    opacity: .75
}

.card.image-full:before,
.card.image-full>* {
    grid-column-start: 1;
    grid-row-start: 1
}

.card.image-full>figure img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.card.image-full>.card-body {
    position: relative;
    z-index: 20;
    --tw-text-opacity: 1;
    color: var(--fallback-nc, oklch(var(--nc)/var(--tw-text-opacity)))
}

.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1rem;
    white-space: nowrap
}

.divider:before,
.divider:after {
    height: .125rem;
    width: 100%;
    flex-grow: 1;
    --tw-content: "";
    content: var(--tw-content);
    background-color: var(--fallback-bc, oklch(var(--bc)/.1))
}

@media (hover: hover) {
    .btn:hover {
        --tw-border-opacity: 1;
        border-color: var(--fallback-b3, oklch(var(--b3)/var(--tw-border-opacity)));
        --tw-bg-opacity: 1;
        background-color: var(--fallback-b3, oklch(var(--b3)/var(--tw-bg-opacity)))
    }

    @supports (color: color-mix(in oklab, black, black)) {
        .btn:hover {
            background-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 90%, black);
            border-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity, 1)) 90%, black)
        }
    }

    @supports not (color: oklch(0% 0 0)) {
        .btn:hover {
            background-color: var(--btn-color, var(--fallback-b2));
            border-color: var(--btn-color, var(--fallback-b2))
        }
    }

    .btn.glass:hover {
        --glass-opacity: 25%;
        --glass-border-opacity: 15%
    }

    .btn-outline.btn-primary:hover {
        --tw-text-opacity: 1;
        color: var(--fallback-pc, oklch(var(--pc)/var(--tw-text-opacity)))
    }

    @supports (color: color-mix(in oklab, black, black)) {
        .btn-outline.btn-primary:hover {
            background-color: color-mix(in oklab, var(--fallback-p, oklch(var(--p)/1)) 90%, black);
            border-color: color-mix(in oklab, var(--fallback-p, oklch(var(--p)/1)) 90%, black)
        }
    }

    .btn-disabled:hover,
    .btn[disabled]:hover,
    .btn:disabled:hover {
        --tw-border-opacity: 0;
        background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
        --tw-bg-opacity: .2;
        color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
        --tw-text-opacity: .2
    }

    @supports (color: color-mix(in oklab, black, black)) {

        .btn:is(input[type=checkbox]:checked):hover,
        .btn:is(input[type=radio]:checked):hover {
            background-color: color-mix(in oklab, var(--fallback-p, oklch(var(--p)/1)) 90%, black);
            border-color: color-mix(in oklab, var(--fallback-p, oklch(var(--p)/1)) 90%, black)
        }
    }
}

.footer {
    display: grid;
    width: 100%;
    grid-auto-flow: row;
    place-items: start;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 2.5rem;
    font-size: .875rem;
    line-height: 1.25rem
}

.footer>* {
    display: grid;
    place-items: start;
    gap: .5rem
}

@media (min-width: 48rem) {
    .footer {
        grid-auto-flow: column
    }

    .footer-center {
        grid-auto-flow: row dense
    }
}

.link {
    cursor: pointer;
    text-decoration-line: underline
}

.mask {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center
}

.swap {
    position: relative;
    display: inline-grid;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    place-content: center;
    cursor: pointer
}

.swap>* {
    grid-column-start: 1;
    grid-row-start: 1;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
    transition-property: transform, opacity
}

.swap input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.swap .swap-on,
.swap .swap-indeterminate,
.swap input:indeterminate~.swap-on {
    opacity: 0
}

.swap input:checked~.swap-off,
.swap-active .swap-off,
.swap input:indeterminate~.swap-off {
    opacity: 0
}

.swap input:checked~.swap-on,
.swap-active .swap-on,
.swap input:indeterminate~.swap-indeterminate {
    opacity: 1
}

.btm-nav>*:where(.active) {
    border-top-width: 2px;
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b1, oklch(var(--b1)/var(--tw-bg-opacity)))
}

@media (prefers-reduced-motion: no-preference) {
    .btn {
        animation: button-pop var(--animation-btn, .25s) ease-out
    }
}

.btn:active:hover,
.btn:active:focus {
    animation: button-pop 0s ease-out;
    transform: scale(var(--btn-focus-scale, .97))
}

@supports not (color: oklch(0% 0 0)) {
    .btn {
        background-color: var(--btn-color, var(--fallback-b2));
        border-color: var(--btn-color, var(--fallback-b2))
    }

    .btn-primary {
        --btn-color: var(--fallback-p)
    }
}

@supports (color: color-mix(in oklab, black, black)) {
    .btn-outline.btn-primary.btn-active {
        background-color: color-mix(in oklab, var(--fallback-p, oklch(var(--p)/1)) 90%, black);
        border-color: color-mix(in oklab, var(--fallback-p, oklch(var(--p)/1)) 90%, black)
    }
}

.btn:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px
}

.btn-primary {
    --tw-text-opacity: 1;
    color: var(--fallback-pc, oklch(var(--pc)/var(--tw-text-opacity)));
    outline-color: var(--fallback-p, oklch(var(--p)/1))
}

@supports (color: oklch(0% 0 0)) {
    .btn-primary {
        --btn-color: var(--p)
    }
}

.btn.glass {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    outline-color: currentColor
}

.btn.glass.btn-active {
    --glass-opacity: 25%;
    --glass-border-opacity: 15%
}

.btn-outline.btn-primary {
    --tw-text-opacity: 1;
    color: var(--fallback-p, oklch(var(--p)/var(--tw-text-opacity)))
}

.btn-outline.btn-primary.btn-active {
    --tw-text-opacity: 1;
    color: var(--fallback-pc, oklch(var(--pc)/var(--tw-text-opacity)))
}

.btn.btn-disabled,
.btn[disabled],
.btn:disabled {
    --tw-border-opacity: 0;
    background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
    --tw-bg-opacity: .2;
    color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
    --tw-text-opacity: .2
}

.btn:is(input[type=checkbox]:checked),
.btn:is(input[type=radio]:checked) {
    --tw-border-opacity: 1;
    border-color: var(--fallback-p, oklch(var(--p)/var(--tw-border-opacity)));
    --tw-bg-opacity: 1;
    background-color: var(--fallback-p, oklch(var(--p)/var(--tw-bg-opacity)));
    --tw-text-opacity: 1;
    color: var(--fallback-pc, oklch(var(--pc)/var(--tw-text-opacity)))
}

.btn:is(input[type=checkbox]:checked):focus-visible,
.btn:is(input[type=radio]:checked):focus-visible {
    outline-color: var(--fallback-p, oklch(var(--p)/1))
}

@keyframes button-pop {
    0% {
        transform: scale(var(--btn-focus-scale, .98))
    }

    40% {
        transform: scale(1.02)
    }

    to {
        transform: scale(1)
    }
}

.card :where(figure:first-child) {
    overflow: hidden;
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
    border-end-start-radius: unset;
    border-end-end-radius: unset
}

.card :where(figure:last-child) {
    overflow: hidden;
    border-start-start-radius: unset;
    border-start-end-radius: unset;
    border-end-start-radius: inherit;
    border-end-end-radius: inherit
}

.card:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px
}

.card.bordered {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: var(--fallback-b2, oklch(var(--b2)/var(--tw-border-opacity)))
}

.card.compact .card-body {
    padding: 1rem;
    font-size: .875rem;
    line-height: 1.25rem
}

.card.image-full :where(figure) {
    overflow: hidden;
    border-radius: inherit
}

@keyframes checkmark {
    0% {
        background-position-y: 5px
    }

    50% {
        background-position-y: -2px
    }

    to {
        background-position-y: 0
    }
}

.divider:not(:empty) {
    gap: 1rem
}

.divider-accent:before,
.divider-accent:after {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-a, oklch(var(--a)/var(--tw-bg-opacity)))
}

.join>:where(*:not(:first-child)):is(.btn) {
    margin-inline-start: calc(var(--border-btn) * -1)
}

@supports (color:color-mix(in oklab, black, black)) {
    @media (hover:hover) {
        .link-success:hover {
            color: color-mix(in oklab, var(--fallback-su, oklch(var(--su)/1)) 80%, black)
        }
    }
}

.link-success {
    --tw-text-opacity: 1;
    color: var(--fallback-su, oklch(var(--su)/var(--tw-text-opacity)))
}

.link:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.link:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px
}

.menu li>*:not(ul, .menu-title, details, .btn):active,
.menu li>*:not(ul, .menu-title, details, .btn).active,
.menu li>details>summary:active {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
    --tw-text-opacity: 1;
    color: var(--fallback-nc, oklch(var(--nc)/var(--tw-text-opacity)))
}

.mockup-phone .display {
    overflow: hidden;
    border-radius: 40px;
    margin-top: -25px
}

@keyframes modal-pop {
    0% {
        opacity: 0
    }
}

@keyframes progress-loading {
    50% {
        background-position-x: -115%
    }
}

@keyframes radiomark {
    0% {
        box-shadow: 0 0 0 12px var(--fallback-b1, oklch(var(--b1)/1)) inset, 0 0 0 12px var(--fallback-b1, oklch(var(--b1)/1)) inset
    }

    50% {
        box-shadow: 0 0 0 3px var(--fallback-b1, oklch(var(--b1)/1)) inset, 0 0 0 3px var(--fallback-b1, oklch(var(--b1)/1)) inset
    }

    to {
        box-shadow: 0 0 0 4px var(--fallback-b1, oklch(var(--b1)/1)) inset, 0 0 0 4px var(--fallback-b1, oklch(var(--b1)/1)) inset
    }
}

@keyframes rating-pop {
    0% {
        transform: translateY(-.125em)
    }

    40% {
        transform: translateY(-.125em)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes skeleton {
    0% {
        background-position: 150%
    }

    to {
        background-position: -50%
    }
}

.table tr.active,
.table tr.active:nth-child(2n),
.table-zebra tbody tr:nth-child(2n) {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b2, oklch(var(--b2)/var(--tw-bg-opacity)))
}

.table-zebra tr.active,
.table-zebra tr.active:nth-child(2n),
.table-zebra-zebra tbody tr:nth-child(2n) {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b3, oklch(var(--b3)/var(--tw-bg-opacity)))
}

@keyframes toast-pop {
    0% {
        transform: scale(.9);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.artboard.phone-1.horizontal,
.artboard.phone-1.artboard-horizontal {
    width: 568px;
    height: 320px
}

.artboard.phone-2.horizontal,
.artboard.phone-2.artboard-horizontal {
    width: 667px;
    height: 375px
}

.artboard.phone-3.horizontal,
.artboard.phone-3.artboard-horizontal {
    width: 736px;
    height: 414px
}

.artboard.phone-4.horizontal,
.artboard.phone-4.artboard-horizontal {
    width: 812px;
    height: 375px
}

.artboard.phone-5.horizontal,
.artboard.phone-5.artboard-horizontal {
    width: 896px;
    height: 414px
}

.artboard.phone-6.horizontal,
.artboard.phone-6.artboard-horizontal {
    width: 1024px;
    height: 320px
}

.btm-nav-xs>*:where(.active) {
    border-top-width: 1px
}

.btm-nav-sm>*:where(.active) {
    border-top-width: 2px
}

.btm-nav-md>*:where(.active) {
    border-top-width: 2px
}

.btm-nav-lg>*:where(.active) {
    border-top-width: 4px
}

.btn-lg {
    height: 4rem;
    min-height: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.125rem
}

.btn-square:where(.btn-lg) {
    height: 4rem;
    width: 4rem;
    padding: 0
}

.btn-circle:where(.btn-lg) {
    height: 4rem;
    width: 4rem;
    border-radius: 9999px;
    padding: 0
}

.divider-horizontal {
    flex-direction: column
}

.divider-horizontal:before {
    height: 100%;
    width: .125rem
}

.divider-horizontal:after {
    height: 100%;
    width: .125rem
}

.divider-horizontal {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    width: 1rem
}

.join.join-vertical>:where(*:not(:first-child)):is(.btn) {
    margin-top: calc(var(--border-btn) * -1)
}

.join.join-horizontal>:where(*:not(:first-child)):is(.btn) {
    margin-inline-start: calc(var(--border-btn) * -1);
    margin-top: 0
}

.pointer-events-none {
    pointer-events: none
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.-bottom-\[22rem\] {
    bottom: -22rem
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.right-0 {
    right: 0
}

.top-0 {
    top: 0
}

.\!z-10 {
    z-index: 10 !important
}

.-z-10 {
    z-index: -10
}

.-z-50 {
    z-index: -50
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-40 {
    z-index: 40
}

.z-50 {
    z-index: 50
}

.row-span-12 {
    grid-row: span 12 / span 12
}

.block {
    display: block
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.grid {
    display: grid
}

.inline-grid {
    display: inline-grid
}

.contents {
    display: contents
}

.hidden {
    display: none
}

.h-full {
    height: 100%
}

.h-max {
    height: -moz-max-content;
    height: max-content
}

.h-screen {
    height: 100vh
}

.\!w-full {
    width: 100% !important
}

.w-\[50vw\] {
    width: 50vw
}

.w-\[90vw\] {
    width: 90vw
}

.w-\[95vw\] {
    width: 95vw
}

.w-full {
    width: 100%
}

.w-max {
    width: -moz-max-content;
    width: max-content
}

.max-w-2xl {
    max-width: 42rem
}

.max-w-\[34rem\] {
    max-width: 34rem
}

.max-w-xs {
    max-width: 20rem
}

.flex-1 {
    flex: 1 1 0%
}

.-rotate-6 {
    --tw-rotate: -6deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-6 {
    --tw-rotate: 6deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-\[40\%\] {
    --tw-scale-x: 40%;
    --tw-scale-y: 40%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-default {
    cursor: default
}

.resize {
    resize: both
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.place-items-center {
    place-items: center
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.gap-10 {
    gap: 2.5rem
}

.gap-2 {
    gap: .5rem
}

.gap-3 {
    gap: .75rem
}

.gap-4 {
    gap: 1rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-6 {
    gap: 1.5rem
}

.self-end {
    align-self: flex-end
}

.self-center {
    align-self: center
}

.\!overflow-hidden {
    overflow: hidden !important
}

.overflow-hidden {
    overflow: hidden
}

.overflow-visible {
    overflow: visible
}

.scroll-smooth {
    scroll-behavior: smooth
}

.text-ellipsis {
    text-overflow: ellipsis
}

.text-pretty {
    text-wrap: pretty
}

.rounded-lg {
    border-radius: .5rem
}

.border-b-4 {
    border-bottom-width: 4px
}

.border-r-4 {
    border-right-width: 4px
}

.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity, 1))
}

.border-y-accent {
    --tw-border-opacity: 1;
    border-top-color: var(--fallback-a, oklch(var(--a)/var(--tw-border-opacity, 1)));
    border-bottom-color: var(--fallback-a, oklch(var(--a)/var(--tw-border-opacity, 1)))
}

.bg-\[\#24A1DE\] {
    --tw-bg-opacity: 1;
    background-color: rgb(36 161 222 / var(--tw-bg-opacity, 1))
}

.bg-base-100 {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b1, oklch(var(--b1)/var(--tw-bg-opacity, 1)))
}

.bg-base-300 {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b3, oklch(var(--b3)/var(--tw-bg-opacity, 1)))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1))
}

.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1))
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-p, oklch(var(--p)/var(--tw-bg-opacity, 1)))
}

.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-s, oklch(var(--s)/var(--tw-bg-opacity, 1)))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.bg-gradient-to-b {
    background-image: url(../2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.from-primary {
    --tw-gradient-from: var(--fallback-p, oklch(var(--p)/1)) var(--tw-gradient-from-position);
    --tw-gradient-to: var(--fallback-p, oklch(var(--p)/0)) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-transparent {
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-90\% {
    --tw-gradient-from-position: 90%
}

.to-black {
    --tw-gradient-to: #000 var(--tw-gradient-to-position)
}

.to-secondary {
    --tw-gradient-to: var(--fallback-s, oklch(var(--s)/1)) var(--tw-gradient-to-position)
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-1 {
    padding: .25rem
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-\[3vw\] {
    padding-left: 3vw;
    padding-right: 3vw
}

.px-\[5vw\] {
    padding-left: 5vw;
    padding-right: 5vw
}

.px-\[7vw\] {
    padding-left: 7vw;
    padding-right: 7vw
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.py-\[10vh\] {
    padding-top: 10vh;
    padding-bottom: 10vh
}

.py-\[13vh\] {
    padding-top: 13vh;
    padding-bottom: 13vh
}

.py-\[15vh\] {
    padding-top: 15vh;
    padding-bottom: 15vh
}

.py-\[3vh\] {
    padding-top: 3vh;
    padding-bottom: 3vh
}

.py-\[6vh\] {
    padding-top: 6vh;
    padding-bottom: 6vh
}

.pt-\[1vh\] {
    padding-top: 1vh
}

.text-center {
    text-align: center
}

.font-IsamiRi {
    font-family: IsamiRi Display, sans-serif
}

.font-IsamiRiRegular {
    font-family: IsamiRi Display Regular, sans-serif
}

.font-Jua {
    font-family: Jua, sans-serif
}

.font-Modak {
    font-family: Modak, sans-serif
}

.font-Oswald {
    font-family: Oswald, sans-serif
}

.font-Stim {
    font-family: Stim, sans-serif
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-black {
    font-weight: 900
}

.font-bold {
    font-weight: 700
}

.font-thin {
    font-weight: 100
}

.uppercase {
    text-transform: uppercase
}

.tracking-tight {
    letter-spacing: -.025em
}

.tracking-tighter {
    letter-spacing: -.05em
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}

.text-green-400 {
    --tw-text-opacity: 1;
    color: rgb(74 222 128 / var(--tw-text-opacity, 1))
}

.text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity, 1))
}

.text-primary {
    --tw-text-opacity: 1;
    color: var(--fallback-p, oklch(var(--p)/var(--tw-text-opacity, 1)))
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity, 1))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.opacity-0 {
    opacity: 0
}

.opacity-100 {
    opacity: 1
}

.opacity-70 {
    opacity: .7
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-black {
    --tw-shadow-color: #000;
    --tw-shadow: var(--tw-shadow-colored)
}

.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.brightness-150 {
    --tw-brightness: brightness(1.5);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-filter {
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.duration-1000 {
    transition-duration: 1s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.\~text-3xl\/5xl {
    font-size: clamp(1.875rem, 1.579rem + 1.48vw, 3rem);
    line-height: clamp(2.25rem, 2.05rem + .99vw, 3rem)
}

.\~text-5xl\/8xl {
    font-size: clamp(3rem, 2.21rem + 3.95vw, 6rem);
    line-height: clamp(3rem, 2.21rem + 3.95vw, 6rem)
}

.\~text-6xl\/8xl {
    font-size: clamp(3.75rem, 3.16rem + 2.96vw, 6rem);
    line-height: clamp(3.75rem, 3.16rem + 2.96vw, 6rem)
}

.\~text-base\/xl {
    font-size: clamp(1rem, .93rem + .33vw, 1.25rem);
    line-height: clamp(1.5rem, 1.43rem + .33vw, 1.75rem)
}

.\~text-lg\/2xl {
    font-size: clamp(1.125rem, 1.026rem + .493vw, 1.5rem);
    line-height: clamp(1.75rem, 1.68rem + .33vw, 2rem)
}

.\~text-sm\/lg {
    font-size: clamp(.875rem, .809rem + .329vw, 1.125rem);
    line-height: clamp(1.25rem, 1.12rem + .66vw, 1.75rem)
}

.\~text-xl\/2xl {
    font-size: clamp(1.25rem, 1.18rem + .33vw, 1.5rem);
    line-height: clamp(1.75rem, 1.68rem + .33vw, 2rem)
}

.\~text-xl\/3xl {
    font-size: clamp(1.25rem, 1.086rem + .822vw, 1.875rem);
    line-height: clamp(1.75rem, 1.62rem + .66vw, 2.25rem)
}

.\~bottom-2\/14 {
    bottom: clamp(.5rem, -.29rem + 3.95vw, 3.5rem)
}

.\~bottom-2\/20 {
    bottom: clamp(.5rem, -.68rem + 5.92vw, 5rem)
}

.\~h-5\/7 {
    height: clamp(1.25rem, 1.12rem + .66vw, 1.75rem)
}

.\~gap-2\/3 {
    gap: clamp(.5rem, .43rem + .33vw, .75rem)
}

.\~gap-2\/4 {
    gap: clamp(.5rem, .37rem + .66vw, 1rem)
}

.\~gap-20\/40 {
    gap: clamp(5rem, 3.68rem + 6.58vw, 10rem)
}

.\~gap-4\/6 {
    gap: clamp(1rem, .87rem + .66vw, 1.5rem)
}

.\~gap-5\/10 {
    gap: clamp(1.25rem, .92rem + 1.64vw, 2.5rem)
}

.\~gap-5\/24 {
    gap: clamp(1.25rem, 0rem + 6.25vw, 6rem)
}

.\~p-2\/14 {
    padding: clamp(.5rem, -.29rem + 3.95vw, 3.5rem)
}

.\~py-2\/5 {
    padding-top: clamp(.5rem, .3rem + .99vw, 1.25rem);
    padding-bottom: clamp(.5rem, .3rem + .99vw, 1.25rem)
}

.\~py-5\/2 {
    padding-top: clamp(.5rem, 1.45rem + -.99vw, 1.25rem);
    padding-bottom: clamp(.5rem, 1.45rem + -.99vw, 1.25rem)
}

@font-face {
    font-family: Fire;
    src: url(../fonts/FireAceFreeTrial-x3G5m.COEzYaWa.otf)
}

@font-face {
    font-family: Basel;
    src: url(../fonts/Basel.ghluLXkS.otf)
}

@font-face {
    font-family: Riegraf;
    src: url(../fonts/Riegraf.CivdtnVi.ttf)
}

@font-face {
    font-family: Stim;
    src: url(../fonts/Stimcard.Bed_897M.ttf)
}

@font-face {
    font-family: IsamiRi Display;
    font-display: swap;
    src: url(../fonts/IsamiRiDisplay-Bold.BJG6_jBU.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Reika;
    src: url(../fonts/reika.gLIM7TWW.ttf)
}

@font-face {
    font-family: Genty;
    src: url(../fonts/GentyDemo-Regular.CyzOugf2.ttf)
}

@font-face {
    font-family: Coinbase;
    src: url(../fonts/coinbase-sans.BybxolpF.woff2)
}

@font-face {
    font-family: IsamiRi Display Regular;
    font-display: swap;
    src: url(../fonts/IsamiRiDisplay-Regular.DH-IejQA.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Winkle;
    src: url(../fonts/Winkle-Regular.C6Nsyahy.otf)
}

.hover\:rotate-0:hover {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:scale-\[102\%\]:hover {
    --tw-scale-x: 102%;
    --tw-scale-y: 102%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:border-black:hover {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity, 1))
}

@media (min-width: 48rem) {
    .md\:block {
        display: block
    }

    .md\:hidden {
        display: none
    }

    .md\:w-\[50vw\] {
        width: 50vw
    }

    .md\:w-\[60vh\] {
        width: 74vh
    }

    .md\:flex-row {
        flex-direction: row
    }
}

@media (min-width: 64rem) {
    .lg\:grid {
        display: grid
    }

    .lg\:hidden {
        display: none
    }

    .lg\:w-\[20vw\] {
        width: 20vw
    }

    .lg\:w-\[50vw\] {
        width: 50vw
    }

    .lg\:w-\[70vw\] {
        width: 70vw
    }

    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .lg\:flex-row {
        flex-direction: row
    }

    .lg\:gap-40 {
        gap: 10rem
    }

    .lg\:gap-5 {
        gap: 1.25rem
    }

    .lg\:px-\[2vw\] {
        padding-left: 2vw;
        padding-right: 2vw
    }

    .lg\:pb-0 {
        padding-bottom: 0
    }

    .lg\:text-left {
        text-align: left
    }

    .lg\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }
}

@media (min-width: 80rem) {
    .xl\:flex-row {
        flex-direction: row
    }
}

@keyframes svelte-1vnxa3o-float {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-20px)
    }

    to {
        transform: translateY(0)
    }
}

.floating {
    animation: svelte-1vnxa3o-float 4s ease-in-out infinite
}

.grain {
    background-image: url(../images/grain.BVZAnKJ_.gif);
    opacity: 10%;
    background-blend-mode: overlay;
    pointer-events: none
}